._5wd9._5wd9._5wd9._5wd9._5wd9 {
	max-width: 95%;
}

._5wdf._5w1r._5wdf._5w1r._5wdf._5w1r {
	width: auto !important;
	max-width: 90% !important;
}

.extresize.extresize.extresize.extresize.extresize.extresize.extresize{
	position: absolute;
	left: -10px;
	top: -10px;
	background-size: contain;
	background-position: 0px;
}


.conversation.conversation.conversation.conversation.conversation.conversation {
	padding-top: 40%;
}